# Copyright (c) 2022 - 2022 TomTom N.V.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
name: Upload Python Package

on:
  release:
    types: [released]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.7
        uses: actions/setup-python@v3
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Publish (Keep a) Changelog Manager
        run: tox -e publish

  changelog:
    runs-on: ubuntu-latest
    needs: deploy

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.release.target_commitish }}
          token: ${{ secrets.PAT }}

      - name: Update version
        id: version
        run: |
          VERSION=`echo "${GITHUB_REF}" | cut -f 3 -d "/"`
          echo "##[set-output name=version;]$(echo ${VERSION})"

      - name: Release CHANGELOG.md
        uses: ./release
        with:
          version: ${{ steps.version.outputs.version }}

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: ${{ github.event.release.target_commitish }}
          commit_message: "docs: updated `CHANGELOG.md` for version ${{ steps.version.outputs.version }}"
          file_pattern: CHANGELOG.md
